*{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-image: url(../images/background1.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 900px;
    background-attachment:scroll;
    background-color: #3a372e;
    
}

/*header*/

header{
    clear: both;
    position: relative;
    height: 150px;
    background-color: #ffffff;
}


nav{
    float: left;
    margin-left: 7%;
}
#menu a{
    text-decoration: none;
    color: #30313c;
    font-size: 150%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 65px;
}

#menu a:hover{
    border-bottom: 1px solid #30313c;
}


#logo{
    float: left;
    position: relative;
    
}

.social{
    float: right;
    margin-right: 7%;
}    


.social-media-top{
    text-align: right;
    display: inline;
    

}

.social-media-top li{
    display: inline;
    
       
}

.social-media-top i{
    float: right;
    font-size: 160%;
    margin-left: 30px;
    padding-top: 65px; 
    color: #30313c;
    
}

.active{
    border-bottom: 1px solid #30313c;
}

/* author image*/

.author-image{
    width: 30%;
    height: 40%;
    margin: 50px;
    position: relative;
    padding: 0 30%;
    border-radius: 50%;
}

/*about author section*/

div > p {
    text-align: center;
    color: #30313c;
    margin: 1% 10%;
}

#about{
    text-align: center;
    color: #30313c;
    text-decoration: underline;

}


/*books*/

.series-title{
    clear: both;
    position: relative;
    height: 150px;
    background-color: #ffffff;
    text-align: center;
    color: #30313c;
    padding-top: 75px;
    font-size: xx-large;
    
}
section{
    display: block;
}

.books {
    
        clear: both;
        line-height: 0;
        column-count: 8;
        column-gap: 5px;
        margin-left: auto;
        margin-right: auto;   
        }
    
.books img{
        width: 100%;
        margin: 5%;        
    }

img{ max-height: 189px;

}


/*contact*/

form h2, p{
    text-align: center;
}

#fname, #lname, #email{
    width: 60%;
    padding: 0px;
    margin: 6px 20% 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color:#30313c;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    height: 40px;
}

label{
    margin-left: 20%;
}



input[type=submit]{
    margin: 10px 0 0 20%;
    background-color: #ffffff;
    border: none;
    color: #30313c;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

#message{
    width: 60%;
    height: 200px;
    padding: 12px;
    margin: 6px 20% 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color:#30313c;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}

.signup-form{
    color: #30313c;
    margin: 100px 0;
}

.contact {
    color: #30313c;
    margin-top: 100px;
}

#ask{
    margin-bottom: 50px;

}
/* footer */
footer{
    clear: both;
    position: relative;
    height: 150px;
    background-color: #ffffff;
    
}

footer p{
    text-align: center;
    padding-top: 50px;
    color: #30313c;
}

.social-media-footer{
    text-align: center;
    padding: 2%;

}

.social-media-footer li{
    display: inline;
    
}

.social-media-footer i{
    font-size: 160%;
    margin: 0;
    padding: 0% 5%;
    color: #30313c;  
    
}