@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

html{
    scroll-margin-left: 10px;
}

body{
    background-image: url(../images/background1.jpg);
    background-position: center; 
    z-index: -1;
    background-repeat: no-repeat; 
    background-size:cover;
    width: 100%;
    background-attachment:fixed;
    background-color: #3a372e;
    font-family: "Josefin Sans", sans-serif;
    margin-right: 2vw;
    
}

/*header*/

header{
    clear: both;
    position: relative;
    height: 25vw;
    width: 100%;
    background-color: #ffffff;
}


nav{
    float: left;
    margin-left: 7%;
}
#menu a{
    text-decoration: none;
    color: #30313c;
    font-size: 2vw;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 65px;
}

#menu a:hover{
    border-bottom: 1px solid #30313c;
}


.title{
    font-size: 8vw;
    text-align: center;
    font-family: Permanent Marker, sans-serif;
    color: #30313c;
    text-decoration: underline;
}

.social{
    float: right;
    margin-right: 7%;
    color: #30313c;
}    


.social-media-top{
    text-align: right;
    display: inline;
    

}

.social-media-top li{
    display: inline;
    
       
}

.social-media-top i{
    float: right;
    font-size: 4vw;
    margin-left: 30px;
    padding-top: 65px; 
    color: #30313c;
    
}

.social-media-top i:hover{
    color: crimson;
}

.active{
    border-bottom: 1px solid #30313c;
}

/* author image*/

.author-image{
    width: 30%;
    height: 40%;
    margin: 50px;
    position: relative;
    padding: 0 30%;
    border-radius: 50%;
}

/*about author section*/

div > p {
    text-align: center;
    color: #ffffff;
    margin: 1% 10%;
    font-size: 2vw;
    margin-bottom: 3vw;
}

#about{
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    font-size: 3vw;
}


/*books*/

.series-title{
    clear: both;
    position: relative;
    height: 15vw;
    background-color: #ffffff;
    text-align: center;
    color: #30313c;
    padding-top: 75px;
    font-size: 2vw;
    border: #3a372e;
    
}
section{
    display: block;
}

.books {
    
        clear: both;
        line-height: 0;
        column-count: 8;
        column-gap: 5px;
        margin-left: auto;
        margin-right: auto;   
        }
    
.books img{
        width: 100%;
        margin: 5%;        
    }

/*contact*/

form h2{
    text-align: center;
    font-size: 4vw
}

form p{
    text-align: center;
    font-size: 3vw
}

#fname, #lname, #email{
    width: 60%;
    padding: 2vw 0;
    margin: 6px 20% 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color:#30313c;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    height: 3vw;
}

label{
    margin-left: 20%;
    font-size: 3vw
}



input[type=submit]{
    margin: 2vw 0 0 20%;
    background-color: #ffffff;
    border: none;
    color: #30313c;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    height: 4vw;
    width: 8vw;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2vw;
}

#message{
    width: 60%;
    height: 200px;
    padding: 12px;
    margin: 6px 20% 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color:#30313c;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}

.signup-form{
    color: #30313c;
    margin: 100px 0;
}

.contact {
    color: #30313c;
    margin-top: 100px;
}

#ask{
    margin-bottom: 50px;

}
/* footer */
footer{
    clear: both;
    position: relative;
    height: 25vw;
    background-color: #ffffff;
    
}

footer p{
    text-align: center;
    padding-top: 50px;
    color: #30313c;
    font-size: 2vw;
}

.social-media-footer{
    text-align: center;
    padding: 2%;
   
}

.social-media-footer li{
    display: inline;
    
}

.social-media-footer i{
    font-size: 4vw;
    margin: 0;
    padding: 0% 5%;
    color: #30313c;  
    
}

.social-media-footer i:hover{
    color: crimson;
}

/* media Querys*/

/* 950 px and less */

@media screen and (max-width: 950px){

    #logo{
        height: 15vw;
    }
}